.test {
  font-style: italic;
  color: red;
}
.loop1 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: url("https://media.giphy.com/media/2dnGHOAQt1tIziib5X/source.gif");
  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;
}
.loop2 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: url("https://media.giphy.com/media/3oEdv1GbekAakxXO8g/giphy.gif");
  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;
}
.gloop {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: url("https://media.giphy.com/media/l0K4eqRK0DQYRyqdO/giphy.gif");
  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;
}
.aboutloop {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: url("https://media.giphy.com/media/26FPIt7NrNoKoqsxy/giphy.gif");
  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  color: white;
  font-family: "Papyrus", fantasy;
  text-shadow: 0.25vw 0.25vw 0.25vw #f035e9;
  font-size: 3vw;
}

body {
  margin: 0px;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.headtext {
  color: #ffff;
}
#one {
  font-family: "Papyrus", fantasy;
  text-shadow: 0.25vw 0.25vw 0.25vw #f035e9;
  font-size: 3vw;
}
.links {
  position: relative;
  right: 400px;
  top: 154px;

  -moz-box-shadow: 0px 6px 5px #f035e9;
  -webkit-box-shadow: 0px 6px 5px #f035e9;
  box-shadow: 2px 2px 2px #f035e9;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}
.infotext {
  color: #ffff;
  position: relative;
  font-family: "Papyrus", fantasy;
  text-shadow: 0.25vw 0.25vw 0.25vw #f035e9;
  font-size: 3vw;
  top: -300px;
  right: 400px;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 30px;
  font-family: "Papyrus", fantasy;
  text-shadow: 0.25vw 0.25vw 0.25vw #f035e9;
  color: white;
  text-align: center;
  font-size: 1.5vw;
}
a {
  color: white;
  text-decoration: none;
  word-spacing: 30px;
}
.subtext {
  font-size: 14pt;
  position: absolute;
  right: 250px;
}
.inforight {
  color: #ffff;
  position: relative;
  font-family: "Papyrus", fantasy;
  text-shadow: 0.25vw 0.25vw 0.25vw #f035e9;
  font-size: 3vw;
  top: -60px;
  right: -300px;
}
